---
import MainLayout from "../../layouts/MainLayout.astro";
import CardLayout from "../../layouts/CardLayout.astro";
import Aside from "../../components/aside.astro";

import { toSlug, formatBlogPosts } from "../../js/utils";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blog/*.md");

  const formattedPosts = formatBlogPosts(allPosts);

  const allCategories = [...new Set(formattedPosts.map((post) => post.frontmatter.category).flat()),
  ];
  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter((post) => post.frontmatter.category === category);
    return {
        params: { category: toSlug(category)},
        props: {
          categoryName: category,
          posts: categoryPosts,
        }
    }
  })
}

const { posts, categoryName } = Astro.props;
const author = "";
const authorImage = "";
---

<MainLayout title={`Articles About ${categoryName}`}>
  <Aside {author} {authorImage} />
  <div class="posts-wrapper" >
      <div>
        <h3>Articles about</h3><h1 class="title">{categoryName}</h1>
      </div>
      {posts.map((post) => <CardLayout {post}/>)}
  </div>
</MainLayout>