---
import MainLayout from "../../layouts/MainLayout.astro"
import CardLayout from "../../layouts/CardLayout.astro"
import Aside from "../../components/aside.astro"

import { toSlug, formatBlogPosts} from "../../js/utils.js"

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../blog/*.md");

    const formattedPosts = formatBlogPosts(allPosts);

    const allAuthors = [...new Set(formattedPosts.map((post) => post.frontmatter.author).flat()),
    ];
    return allAuthors.map((author) => {
        const authorPosts = formattedPosts.filter((post) => post.frontmatter.author === author);
        return {
            params: { author: toSlug(author)},
            props: {
                authorName: author,
                posts: authorPosts,
            }
        }
    })
}

const { posts, authorName } = Astro.props;
const author = "";
const authorImage = "";
---

<MainLayout title={`Articles by ${authorName}`}>
    <Aside {author} {authorImage} />
    <div class="posts-wrapper">
        <div>
            <h3>Articles by</h3><h1 class="title">{authorName}</h1>
        </div>
        {posts.map((post) => <CardLayout {post}/>)}
    </div>
</MainLayout>