---
import { formatBlogPosts, toSlug } from "../js/utils";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts.map((cat) => cat.frontmatter.category.toLowerCase()).flat();
const processedCategories = allCategories.reduce((acc,category ) => {
    const value  = acc[category];
    return {
        ...acc,
        [category]: value
    }
}, {})

const {author, authorImage } = Astro.props;
---

<aside>
    <div class="author">
        <img style="border-radius: 5em;max-height:4em;" src={authorImage } alt={author} />
        <a href=`/author/${toSlug(author)}` class="title" style="height: fit-content;">{author}</a>
    </div>
    <h2>Tags Cloud</h2>
    <nav class="tags-nav">
        {
        Object.entries(processedCategories).map(([key]) => (
            <a href={`/category/${toSlug(key)}/`} class="button">
                <img style="height:1em;" src="/images/label.svg" alt="Label">
                {key}
            </a>
            ))
        }
    </nav>
</aside>

<style lang="scss">
    aside {
    padding: 1em;
    padding-top: 6em;
    min-width: 250px;
    .author {
        gap:1em;
        display: flex;
        align-items:center;
      }
    .tags-nav {
        display:flex;
        margin: 1em 0;
        flex-wrap: wrap;
        align-items: center;
        a {
            height: 2em;
            font-size: .7em; 
            margin: .2em;
        }
    }
}
@media (min-width:850px) {
    aside {max-width: 250px;}
    .author{position: sticky;top: 130px;}
    aside h2{position: sticky;top: 240px;}
    .tags-nav {position: sticky;top: 280px;}
}
</style>